* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    background-color: #15171b;
    margin: 0 auto;
    overflow-x: hidden;
    transition: background-color 0.3s, color 0.3s;
}

.light-mode .theme-toggle-button {
    background: #aebdff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.light-mode .theme-toggle-button:hover {
    background: #758eff;
}

.dark-mode .theme-toggle-button {
    background: orange;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dark-mode .theme-toggle-button:hover {
    background: rgb(219, 121, 0);
}

.light-mode {
    background: repeating-linear-gradient(45deg, #c2bcbc 0, #c2bcbc 10%, transparent 0, transparent 50%);
    background-size: 6em 6em;
    background-color: #aeabab;
    opacity: 1
}

.dark-mode {
    background: repeating-linear-gradient(135deg, #131212 0, #131212 10%, transparent 0, transparent 50%);
    background-size: 6em 6em;
    background-color: #171616;
    opacity: 1
}

header {
    padding: 20px;
    transition: background-color 0.3s ease;
}

.light-mode header {
    background-color: transparent;
}

.dark-mode header {
    background-color: #15171b;
}

.light-mode #nombre {
    color: #353d67;
}

#nombre {
    color: orange;
}

.light-mode :hover.logoynombre {
    text-shadow: #283da4f5 0px 0px 39px;
}

:hover.logoynombre {
    text-shadow: #ffa200e6 0px 0px 39px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 171, 16); 
    border-radius: 20px;
}

header {
    padding: 20px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

@font-face {
    font-family: 'High Speed';
    src: url('../Fonts/High\ Speed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.logoynombre {
    margin: 2%;
    font-size: 10px;
    font-family: "High Speed", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}

#logo {
    margin: 3%;
    border-radius: 10px;
    height: 55px;
}

#nombre {
    font-family: "High Speed", sans-serif;
    margin: 0;
    padding-top: 5px;
    height: auto;
    display: flex;
    align-items: center;
}

@keyframes shake {
    0% { transform: translate(0); }
    25% { transform: translate(-5px, 0); }
    50% { transform: translate(5px, 0); }
    75% { transform: translate(-5px, 0); }
    100% { transform: translate(0); }
}

#carrito > img {
    height: 45px;
    cursor: pointer;
}

#carrito:hover {
    animation: shake 0.5s ease;
}

  /* carrusel */
.supercontainer {
    width: 900px;
    margin: auto;
}

.slider-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.form-group {
    margin-bottom: 15px; /* Espacio entre cada grupo de campos */
}

.form-group label {
    display: block; /* Forzar que los labels estén en línea separada */
    margin-bottom: 5px; /* Espacio entre el label y el input */
}

.form-group input,
.form-group textarea {
    width: 100%; /* Asegurar que los inputs y textareas ocupen todo el ancho disponible */
    padding: 8px; /* Agregar un poco de relleno interno */
    margin-bottom: 10px; /* Espacio adicional debajo de cada campo */
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
}

.slider-section img {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

#video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
}

.text-over-video {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "High Speed", sans-serif;
    font-size: 3rem;
    color: orange;
    text-shadow: 2px 2px 5px black;
    z-index: 10;
    text-align: center;
}

.tienda {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10% 0% 2%;
}

.item img {
    background-color: #000000;
    border: 1px solid #ccc;
    width: 218px;
    height: 163px;
    transition: transform 0.3s ease;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.932), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item {
    display: inline-block;
    margin: 0px 20px 80px;
    text-align: center;
}

.dark-mode .item > img.enlarged {
    transform: scale(1.7);
    background-color: #15171b;
}

.light-mode .item > img.enlarged {
    transform: scale(1.7);
    background-color: #ffffff;
}

.dark-mode .item p {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.light-mode .item p {
    color: #101010;
    font-size: 1.2em;
    font-weight: bold;
}

.precio {
    padding-top: 2%;
}

  /*  Details */
.details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140vh;
    height: 85vh;
    background-color: #000000;
    opacity: 1;
    background-color: #111010;
    opacity: 1;
    background: linear-gradient(135deg, #17151555 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #171515 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #17151555 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #171515 25%, #111010 25%) 0px 0/ 80px 80px;  border: 1px solid #636363;
    border-radius: 95px;
    padding: 100px 15px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #ffffff;
    font-size: 22px;
}

.light-mode .details {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.55) 25%, transparent 25%) -40px 0/ 80px 80px, 
    linear-gradient(225deg, rgba(255, 255, 255, 1) 25%, transparent 25%) -40px 0/ 80px 80px, 
    linear-gradient(315deg, rgba(255, 255, 255, 0.55) 25%, transparent 25%) 0px 0/ 80px 80px, 
    linear-gradient(45deg, rgba(255, 255, 255, 1) 25%, rgba(240, 240, 240, 1) 25%) 0px 0/ 80px 80px;  
border: 1px solid #cccccc;

    color: #000000;
}

.details-image {
    margin-top: 10px;
    width: 35%;
    height: 60%;
}

.details-price{
    font-size: 25px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

  /* close details light mode */
#close-details {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ada9a9;
}

.light-mode #close-details {
    color: #131313;
}

#close-details:hover {
    color: #e7e7e7;
}

.light-mode #close-details:hover {
    color: #505050;
}

  /* footer */

.new-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.new-section a {
    color: orange;
    text-decoration: none;
    font-size: 2vh;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.new-section a:hover {
    color: white;
}

.new-section img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

footer {
    margin: 0%;
    font-size: 2vh;
    bottom: 0;
    font-family: sans-serif;
    background-color: #222020;
    color: #f1f1f1;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

.footer-link {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-link img {
    width: 24px;
    height: 24px;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-container a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.footer-container a:hover {
    color: #ffcc00;
}

footer p {
    margin: 0;
    font-size: 1rem;
    color: #b0b0b0;
}

@media (max-width: 600px) {
    .header {
    flex-direction: column;
    }

    .logoynombre,
    #carrito {
    text-align: center;
    padding: 5px;
    }
}

#skin-1 {
    background: linear-gradient(to top, rgba(131, 50, 163, 0.8)), rgba(255, 126, 95, 0) 70%;
}
