/* src/Sidebar.css */
.sidebar-container {
  position: relative;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1001;
  position: fixed;
  top: 6px;
  left: 13px;
}

.line {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
  transition: all 0.3s ease;
}

.light-mode .line {
  background-color: #3a58ee;
}

.light-mode .toggle-button:hover {
  background-color: rgb(172, 170, 194);
}

.line.open {
  background-color: orange;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #444;
  color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px 0 0 10px; 
  overflow: hidden;
}

.sidebar.open {
  transform: translateX(0);
}

ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

li {
  margin: 15px 0; 
}

li button, .sidebar-link {
  background: none; 
  border: none; 
  color: #ffffff; 
  font-size: 18px; 
  font-weight: bold; 
  text-align: left; 
  cursor: pointer; 
  width: 100%;
  border-radius: 5px; 
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none; /* Eliminar subrayado */
}

li button:hover{
  background-color: rgba(255, 255, 255, 0.1); 
  transform: scale(1.05); 
}

.submenu {
  font-family: 'Courier New', Courier, monospace;
  list-style: none;
  padding-left: 20px; 
  margin: 10px 0 0 0; 
}

.submenu li {
  padding: 5px 0; 
  font-size: 16px; 
  transition: color 0.3s; 
}

.submenu li:hover {
  color: orange; 
}

.theme-toggle-section {
  position: absolute;
  bottom: 20px; 
  left: 15px; 
  background: rgba(255, 255, 255, 0.1); 
  padding: 10px;
  border-radius: 5px;
  text-align: center; 
}

.theme-toggle-button {
  background: orange;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.theme-toggle-button:hover {
  background: #ffcc00; 
}

.light-mode .sidebar {
  background-color: rgb(127, 127, 133);
}